<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>


    </style>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h4 id="when"></h4>
    <div id="map"></div>

<!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMhweWl1lHdexjLt1bgdF3ejuI0saWRWU">
    </script>

   <script src="javascripts/gmap3-6.1.0/gmap3.min.js"></script>
    <script src="javascripts/script.js"></script>

  </body>
</html>
